<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AIMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="AIMS.My.MySettings.POSConnString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database\MrpPos.accdb"
      providerName="System.Data.OleDb" />
    <add name="MrpPosEntities" connectionString="metadata=res://*/Database.MrpPos.csdl|res://*/Database.MrpPos.ssdl|res://*/Database.MrpPos.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database\MrpPos.sdf&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AIMS.My.MySettings.MrpPosConnectionString" connectionString="provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database\MrpPos.sdf&quot;"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="AIMS.My.MySettings.MrpPosConnectionString1" connectionString="Data Source=|DataDirectory|\bin\x86\Debug\Database\MrpPos.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <AIMS.My.MySettings>
      <setting name="CurrentWorkstationID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HostUrl" serializeAs="String">
        <value>http://192.168.1.160:8069</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>mrppos</value>
      </setting>
      <setting name="uid" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="pwd" serializeAs="String">
        <value>ta300886</value>
      </setting>
      <setting name="Comport" serializeAs="String">
        <value>com14</value>
      </setting>
      <setting name="baudrate" serializeAs="String">
        <value>2400</value>
      </setting>
      <setting name="parity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="stopbits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="databits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="access_db" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="filedbpath" serializeAs="String">
        <value>\Database\filedb.fdb</value>
      </setting>
      <setting name="exportSummaryPath" serializeAs="String">
        <value>C:\Users\Public\Documents\mrppos\</value>
      </setting>
    </AIMS.My.MySettings>
  </userSettings>
  <!-- <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
</configuration>